body{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    
}
.box{
    max-width: 10rem;
    font-size: .24rem;
    margin: 0 auto;
    height:100%;
}


.box header{
    height: .88rem;
    background: #ffa03a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*padding: 0 .3rem;*/
    -webkit-box-flex:1;
        -ms-flex:auto;
            flex:auto;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:10;

}
.box .logo{
    width: 1.39rem;
    height: .44rem;
}
.box .logo img{
    display: block;
    width: 100%;
}

.box header .search{
    -ms-flex-negative: 2;
        flex-shrink: 2;
    /*flex-grow: 2;*/

    width:60%;
}
.box header .search input{
    padding: 0 .2rem;
    background: rgb(255,191,121);
    width: 100%;
    height: .53rem;
    font-size: .24rem;
    border:none;
    border-radius: .08rem;
}
.box header .search input:-webkit-placeholder{
    color: #fff;
}
.box header .city{
    font-size: .28rem;
    color: #fff;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.box .banner{
    position: relative;
    width: 100%;
}
.box .banner img{
    width:100%;
}
.box .indicator{
    /*display: inline-block;*/
    font-size:0;
    position: absolute;
    text-align: center;
    bottom:.22rem;
    left:0;
    right:0;

}
.box .indicator li{
    display: inline-block;
    width: .13rem;
    height: .13rem;
    border-radius: 50%;
    background: #fff;
    opacity: .5;
    margin-right: .1rem;
}
.box .indicator li.active{
    opacity: 1;
}
.box .indicator li:last-child{
    margin:0;
}

.box .fication{
    height: 1.65rem;
    width:100%;
    background: #fff;
    padding: 0 .3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.box .fication li{
    width: 2.55rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}
.box .fication li:nth-child(2){
    width:1px;
    height:.68rem;
    background: #e6e6e6;
}
.box .fication .fication-icon{
    background: url("../img/icon/icon.gif") ;
    background-size: 1rem 2.16rem;
    width: 1rem;
    height: 1rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.box .fication .fication-icon.icon2{
    background-position: 0 -1.16rem;
}
.box .fication .fication-body{
    font-size: .30rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #f0b20b;
}
.box .fication .fication-body>span:last-child{
    font-size: .22rem;
    color: #c2c2c2;
}



.box .menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1rem;
    /*background: #f6f6f6;*/
    background: #fff;
    z-index:10;
}
.box .menu>a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex:1;
        -ms-flex:auto;
            flex:auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: .08rem 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 1rem;
    font-size: .22rem;
}
.box .menu .nav-icon{
    width:.6rem;
    height:.54rem;
    background-size: .6rem .54rem!important;
}
.box .menu .active{
    color: #fc6733;
}
.box .menu .home{
    background: url("../img/icon/home.png");
}
.box .menu .active .home{
    background: url("../img/icon/homeact.png");
}
.box .menu .item{
    background: url("../img/icon/order.png");
}
.box .menu .active .item{
    background: url("../img/icon/orderact.png");
}
.box .menu .favo{
    background: url("../img/icon/star.png");
}
.box .menu .active .favo{
    background: url("../img/icon/staract.png");
}
.box .menu .car{
    background: url("../img/icon/shopping.png");
}
.box .menu .active .car{
    background: url("../img/icon/shoppingact.png");
}
.box .menu .user{
    background: url("../img/icon/personal.png");
}
.box .menu .active .user{
    background: url("../img/icon/personalact.png");
}


.box .news{
    height: .75rem;
    background: #fff;
    margin-top: .13rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 .3rem;
}
.box .news .icon{
    background: url("../img/news/news.png") no-repeat;
    background-size: .72rem .56rem;
    width: .72rem;
    height:.56rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:end;
        -ms-flex-pack:end;
            justify-content:flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: .45rem;

}
.box .news .icon:after{
    content:"";
    display: block;
    width: .1rem;
    height: .1rem;
    border-radius: 50%;
    background: #dadada;
    -webkit-transform: translateX(.17rem);
            transform: translateX(.17rem)
}
.box .news .news-label{
    width: .58rem;
    height: .3rem;
    border: solid 1px #ed5564;
    font-size:.2rem;
    text-align: center;
    line-height: .3rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: .08rem;
    margin-right:.12rem;
    color: #ed5564;
}
.box .news-body{
    width:65%;
}
.box .news-body .content{
    display: block;
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.box .goods {
    margin-top: .13rem;
}
.box .goods-title{
    border: 1px solid #eaeaea ;
    border-left:none;
    nprder-right:none;
    font-size: .28rem;
    text-align: center;
    height: .58rem;
    background: #fff;
    color: #fb953b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.box .goods-title .icon{
    width: .27rem;
    height: .27rem;
    margin-right:.09rem;
    background-size: .27rem .27rem;
}
.box .goods .goods-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.box .goods .goods-list .goods-item{
    /*border:solid 1px #eaeaea;*/

}
.box .good1 .icon{
    background-image: url("../img/icon/icon2.png");
}
.box .good2 .icon{
    background-image: url("../img/icon/icon.png");
}
article{
    margin: .88rem 0;
}



/*通知中心*/
.box .back {
    background: url("../img/icon/back.png") no-repeat center;
    width: .4rem;
    height: .88rem;
    background-size: .24rem .4rem;
    position: absolute;
    left:  .3rem;
    top:0;
}
.notice-title{
    font-size: .36rem;
    color: #fff;
}
.notice{

}
.notice .item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .25rem .46rem;
    background: #fff;
    margin-bottom: .12rem;
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:flex-start;
}
.notice .item img{
    width: 1.96rem;
    height:1.85rem;
    -ms-flex-negative:0;
        flex-shrink:0;
    margin-right: .3rem;
}
.notice .item .item-body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: .13rem 0;
}
.notice .item .item-body-title{
    font-size: .28rem;
    color: #686868;
}
.icon-body{
    font-size: .24rem;
    color: #9b9b9b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.icon-body .icon{
    background-size: .24rem!important;
    width: .24rem;
    height: .24rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: .16rem;
}
.notice .item .item-body-time .icon{
    background: url("../img/icon/time.png") no-repeat;

}

/*通知内容*/
.notice-content{
    padding: .3rem;
    background-color: #fff;

}
.notice-content h2{
    color: #323232;
    font-size: .36rem;
}
.notice-content .notice-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: .24rem;
    margin-bottom: .62rem;

}
.notice-content .notice-info .notice-info-author .icon{
    background: url("../img/icon/person.png") no-repeat;
}
.notice-content .notice-info .notice-info-time .icon{
    background: url("../img/icon/time.png") no-repeat;
}
.paragraph h4{
    font-size: .26rem;
    font-weight:bolder;
    margin: .2rem 0;
}
.paragraph .content{
    text-indent: 2em!important;
    font-size: .26rem;
    font-weight:normal;
    color: #5e5c5c;
}


/*收藏夹*/
.favorite{

}

.list .item{
    padding: .25rem .46rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    margin-bottom: .1rem;
}
.list .item img{
    margin-right: .3rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border: solid 1px #e3e3e3;
    width: 1.96rem;
    height: 1.85rem;
}
.list .item .item-body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width:100%;

}
.list .item .item-body h4{
    font-size: .26rem;
}
.list .item .item-body .sku{
    color: #9b9b9b;
    margin-top: .1rem;
}
.list .item .item-body .price{
    font-size: .4rem;
    color: #fc6733;
    padding:.1rem 0;
}
.list .item .item-body .price i{
    font-size: .22rem;
    font-style: normal;
    color: #fc6733;
}
.list .item .item-body .price .price-del{
    font-size: .2rem;
    color: #c3c3c3;
    text-decoration: line-through;
    margin-left: .18rem;
}
.list .item .item-body .item-ctrl{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width:100%;

}
.buy{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.buy .count{
    font-size: .38rem;
    color: #fc6733;
    margin:0 .13rem;
}
.buy i{
    width: .45rem;
    height: .45rem;
    background-size: .45rem!important;

}
.buy .add{
    background: url(../img/icon/plus.png);
}
.buy .minus{
    background: url(../img/icon/minus.png);

}
.buy .del{
    background: url(../img/icon/delt.png);
    margin-left: .25rem;
}
.classifys{
    height:100%;
    padding: .88rem 0 1rem 0;
    margin:0;
    /*display: flex;*/
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}
.classify{
    height:100%;
    width: 2.4rem;
    background: #fff;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    overflow: scroll;
}
.classify li{
    margin-right: .1rem;
    height: 1.02rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: .28rem;
    border-bottom:1px solid #ededed;

}
.classify li.active{
    background: #fc6733;
    color: #fff;
}

.classify .icon{
    width: .34rem;
    height: .34rem;
    background:url("../img/icon/icons.png") no-repeat center;
    background-size: .34rem !important;
    margin-right:.1rem;

}
.classify .icon1{
    background-position-y: .03rem;
}
.classify .icon2{
    background-position-y: -.97rem;
}
.classify .icon3{
    background-position-y: -1.99rem;
}
.classify .icon4{
    background-position-y: -3rem;
}
.classify .icon5{
    background-position-y: -4.04rem;
}
.classify .icon6{
    background-position-y: -5.02rem;
}
.classify .icon7{
    background-position-y: -6.04rem;
}
.classify .icon8{
    background-position-y: -7.04rem;
}
.classify .icon9{
    background-position-y: -8.08rem;
}
.classify .icon10{
    background-position-y: -9.08rem;
}
.classify .icon11{
    background-position-y: -10.1rem;
}
.classifys .list{
    width: 100%;
    overflow-y: scroll;
}
.classifys .list .item{
    padding: .24rem .3rem .24rem 0;
}
.classifys .list .item img{
    margin-right: .1rem;
}
.classifys .list .item .item-body .item-ctrl{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.classifys .list .item .item-body .buy{
    -ms-flex-item-align: end;
        align-self: flex-end;
}

.mask{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,.37);
    z-index:100;

}
.mask .mask-item{
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -3.46rem;
    margin-left: -3.21rem;
    width: 6.42rem;
    background:#fff;
    border-radius: .09rem;
}
.mask .list{
    padding: .3rem;
}
.mask .list .item{
    margin: 0;
    padding: .2rem .1rem;
    /*border-bottom: 1px solid #f0f0f0;*/
}
.mask .type{
    padding: .15rem;
    /*border-bottom: 1px solid #f0f0f0;*/

}
.mask .type .type-class{
    font-size: .22rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: .15rem;
}
.mask .type .cls{
    padding: .1rem .2rem;
    margin-right: .3rem;
    background: #e6e6e6;
    border-radius: .09rem;
}
.mask .type .cls.active{
    color: #fff;
    background:#fc6733;
}
.mask .buy{
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.type:last-child{
    border:none;
    margin-bottom: .3rem;
}
.btn{
    border:none;
    background:#fc6733;
    width: 100%;
    color: #fff;
    border-radius: .09rem;
    padding: .2rem;
    font-size: .34rem;
}

